<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button type="button" mat-icon-button  style = "color: white"   [matMenuTriggerFor]="menu" *ngIf="userRole=='scientist'">
            <mat-icon aria-hidden="false">menu</mat-icon>
        </button>
      <span>Feed The Ducks</span>
      <span class="spacer"></span>
      
      <button mat-icon-button [matMenuTriggerFor]="user" >
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu" class = "menu">
    <button mat-menu-item (click) = "navigate('report')" *ngIf="userRole!='scientist'">Home</button>
    <button mat-menu-item (click) = "navigate('dahboard')">Dashoard</button>
    <button mat-menu-item (click) = "navigate('admin')">Admin</button>
</mat-menu>

<mat-menu #user="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>account_circle</mat-icon>
      <span>{{userName}}</span>
    </button><br>
    <button mat-menu-item (click) = "logout()">
      <mat-icon>logout</mat-icon>
      <span>Sign out</span>
    </button>
    
  </mat-menu>