.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
}
.example-full-width{
    width : 100%;
}
.content{
    background: white;
}
.header{
    font-weight: lighter;
    font-size: medium;
}